
body {
    background-color: black;
    color:white;
    margin: auto;
    text-align: center;
    
  }

  
  .cell {
    
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: 2px solid white;
    background-color: rgb(160, 156, 156);

  }

  .hide span {
    display: none;
    
  }

  .shown {
    background-color: rgb(75, 75, 75);
  }

  .uI{
    font-size: 40px;
    background-color: rgb(150, 150, 150);
    width: 350px;
    text-align: center;


  }

  .smily{
     font-size: 40px;
    background-color: rgb(160, 156, 156);
    /* border: solid;color:rgb(160, 156, 156) ; */



  }

  .flag {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: 2px solid white;
    background-color: rgb(160, 156, 156);
  }
  .flag::after{

  content: "\1F6A9"
}






  
