
body {
    background-color: rgba(173, 173, 173, 0.986);
    color:white;
    margin: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
  }
  .board{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;



  }

  
  .cell {
    
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: 2px solid rgb(46, 46, 46);
    background-color: rgb(160, 156, 156);
    border-width: 0.2px;

  }

  .hide span {
    display: none;
    
  }

  .shown {
    background-color: rgb(75, 75, 75);
  }

  .uI{
    font-size: 40px;
    background-color: rgb(150, 150, 150);
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(0, 0, 0);


  }

  .smily{
     font-size: 40px;
    background-color: rgb(160, 156, 156);
    /* border: solid;color:rgb(160, 156, 156) ; */



  }

  .flag {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: 2px solid rgb(0, 0, 0);

    background-color: rgb(160, 156, 156);
  }
  .flag::after{

  content: "\1F6A9"
}






  
